<div class="row">
    {{#if user}}
    {{#each repos}}
    <div class="card text-white bg-primary col-4 mt-5">
        <div class="card-header">{{this.full_name}}</div>
        <div class="card-body">
            <h4 class="card-title">{{this.full_name}}</h4>
            <p class="card-text">{{this.description}}</p>
        </div>
    </div>
    {{else}}
    <div class="alert alert-dismissible alert-primary col-12 mt-5">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
    </div>
    {{/each}}
    {{/if}}
</div>